*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
    border-radius: 50px;
    flex: 1;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.panel.active {
    flex: 5;
}
.panel h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 24px;
    opacity: 0;
}
.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.3s;
}